.container
  %form{ :action => '/', :method => 'post', :class => "pure-form", :id => "test-instance"}
    %input{ :type => 'submit', :class => "pure-button pure-button-primary"} 
  .grid
    .row
      .tile#row01tile01
      .tile#row01tile02
      .tile#row01tile03
      .tile#row01tile04
      .tile#row01tile05
    .row
      .tile#row02tile01
      .tile#row02tile02.tile-u
      .tile#row02tile03.tile-n
      .tile#row02tile04.tile-o
      .tile#row02tile05
    .row
      .tile#row03tile01
      .tile#row03tile02
      .tile#row03tile03
      .tile#row03tile04
      .tile#row03tile05
    .row
      .tile#row04tile01
      .tile#row04tile02
      .tile#row04tile03
      .tile#row04tile04
      .tile#row04tile05
    .row
      .tile#row05tile01
      .tile#row05tile02
      .tile#row05tile03
      .tile#row05tile04
      .tile#row05tile05  
